[submodule "rank03/42_minishell"]
	path = rank03/42_minishell
	url = git@github.com:rafaelva-z/42_minishell.git
[submodule "rank04/42_cub3d"]
	path = rank04/42_cub3d
	url = https://github.com/rafaelva-z/42_cub3d
